p Здравствуйте, #{@account.full_name}!
p Мы получили запрос на сброс вашего пароля на портале SHR. Перейдите по ссылке внизу, чтобы изменить пароль
a href="#{ENV['FRONT_HOST']}/login?&token=#{@account.reset_password_token}" Сбросить пароль
p
  b Вы не запрашивали это изменение?
p Если вы не запрашивали изменение пароля, проигнорируйте это сообщение

p С уважением, <br>
  Служба безопасности SHR